<div class="home_content">
	<span>B O O K ! !</span>
</div>
<div class="row">
	<div class="col-md-8 offset-md-2">
		<h1>About Page</h1>
		<div class="about-contents">
			<div class="mybook_image">
				<span>My Book</span>
			</div>
			<div class="users_image">
				<span>All Users</span>
			</div>
			<div class="book_image">
				All Books
			</div>
		</div>
	</div>
</div>