<div class="row">
	<%= render "users/list_sidebar", { user: @user, book_new: @book_new } %>

	<div class="col-md-8">
		<% if @user == current_user %>
			<h1 style="color: navy">My Books</h1>
		<% else %>
			<h1>User Books</h1>
		<% end %>
			<%= render "books/index", books: @books %>
	</div>
</div>
<%= render "map", user: @user %>